/Excersises.py
/HelloWorld.py
/Lab.py
/List.py
/Move.py
/PythonLessons.py
/ReadAFile.py
/ReverseWord.py
/RockpaperScissors.py
/clown.txt
/copy.py
/crashesDB.csv
/inclass.py
/listComprehension.py
/main.py
/mean_var_std.py
/poetry.lock
/test_module.py
/testing.py
/txt.py